@media screen and (max-width: 566px) {
    header {
        margin: 2.5% 5%;
    }

    nav {
        flex-direction: column;
        gap: 2rem;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        gap: .5rem;
    }

    .banner {
        flex-direction: column-reverse;
        margin-top: 3rem;
    }

    .banner-img {
        width: 100%;
    }
    .banner-img img {
        width: 100%;
    }

    .banner-content {
        width: 100%;
    }

    .banner-content p {
        width: 100%;
    }

    main {
        margin: 0 5%;
        /* display: flex;
        flex-direction: column;
        gap: 6.25rem; */
    }

    /* .e-sites-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-top: 4.5rem;
    } */

    .e-sites {
        flex-wrap: wrap;
        align-items: center;
        gap: 2rem;
    }

    .e-sites img {
        width: 15%;
    }


    /* popular collection */
    .collection {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding: 0 2%;
    }

    .card-container {
        /* display: grid; */
        grid-template-columns: repeat(1, 1fr);
        /* gap: 1.875rem; */
    }

    /* featured-products */
    .featured-section {
        flex-direction: column;
        align-items: center;
        gap: 6rem;
    }
}